<header>
  <div class="container-custom m-auto flex justify-between items-center mt-5 px-3">
    <div [routerLink]="['/']"><img src="../../../assets/common/default-logo.png" alt="" /></div>
    <div
      class="gap-9 md:flex justify-between items-center font-urbanist font-bold text-base text-black-525"
    >
      <!-- <span class="cursor-pointer border" [routerLink]="['/about-us']">About Us</span> -->
      <button
      mat-stroked-button
      color="primary"
      class="font-urbanist font-bold text-base !text-black-525 !block md:!hidden !rounded"
      [routerLink]="['/about-us']"
      *ngIf="isHomepage; else elseBlock"

    >
     <span> About Us </span>
     
    </button>
    <ng-template 
    #elseBlock
    >
      <button
        mat-stroked-button
        color="primary"
        class="font-urbanist font-bold text-base !text-black-525 !block md:!hidden !rounded"
        [routerLink]="['/']"
      >
       <span> Home</span>
       
      </button>
    </ng-template>
      <span class="cursor-pointer hidden md:block" [routerLink]="['/about-us']"  *ngIf="isHomepage; else elseBlockTab">About Us</span>
       <ng-template #elseBlockTab>
        <span class="cursor-pointer hidden md:block" [routerLink]="['/']" >Home</span>
       </ng-template>
      <div class="w-[2px] border border-[#E5E5E5] h-7 hidden md:block"></div>
      <div class="md:flex gap-2 cursor-pointer hidden" (click)="scrollToBottom()">
        <mat-icon>call</mat-icon>
        <span> Contact Us</span>
      </div>
      <button
        mat-stroked-button
        color="primary"
        class="font-urbanist font-bold text-base !text-black-525 !hidden md:!block !rounded !px-[16px] !py-[6px]"
        (click)="bookMeeting()"
      >
      <div class="flex gap-2 items-center justify-center">
        <img src="../../../assets/extras/calendar-days-black.svg" alt="">
        <span> Book a Meeting </span>
      </div>
      </button>
    </div>
    <!-- <div class="sidenav float-right md:hidden block">
      <mat-icon class="material-symbols-outlined" (click)="sidebarVisible = true" >
        menu
      </mat-icon>
       <p-sidebar
        position="right"
        [(visible)]="sidebarVisible"
        [transitionOptions]="'250ms'"
      >
        <div class="d-flex flex-column">
          <div
            class="btn-nav"
            
          >
            About Us
          </div>
          <div
            class="btn-nav"
           
            routerLinkActive="gradient-text"
            
          >
            Contact Us
          </div>
    
        </div>
      </p-sidebar>
    </div> -->
  </div>

  

</header>


