<section class="mt-20 md:mt-28 relative">
  <div class="absolute z-[-1] md:top-[-195px] top-[-350px] hidden md:block">
    <img src="../../../assets/extras/Ellipse 14.png" alt="" />
  </div>
  <div class="absolute z-[-1] top-[-190px] md:hidden block">
    <img src="../../../assets/extras/mobileEllipse 14.png" alt="" />
  </div>
  <main
    class="container-custom m-auto sm:w-2/3 px-5 sm:px-0 font-urbanist z-10"
  >
    <div
      class="font-bold lg:text-[40px] lg:leading-[52px] text-center text-black-404 md:text-[36px] md:leading-[48px] text-[28px] leading-[36px]"
    >
      Experienced & Personalized
      <span class="text-primary relative">
        <img
          src="../../../assets/extras/Line 1.svg"
          class="absolute w-full saudi-fda bottom-[-10px] sm:bottom-[-10px] md:bottom-[-15px] right-0"
        />Saudi&nbsp;FDA&nbsp;IVD </span
      >& Medical Device Registration Consulting
    </div>
    <div
      class="font-semibold lg:text-[24px] lg:leading-[32px] text-center text-[#737373] pt-8 w-[90%] m-auto md:text-[20px] md:leading-[26px] sm:text-[18px] sm:leading-[24px]"
    >
      With over 28yrs of experience in the In Vitro and Medical devices field,
      we will help you comply with Saudi FDA regulation to make your business
      regularized
    </div>
    <div class="flex justify-center gap-4 xl:w-1/2 m-auto pt-7">
      <button
        mat-stroked-button
        color="primary"
        class="font-urbanist font-bold lg:text-base md:text-sm !text-primary !rounded-md light-blue-bg px-6 py-3 h-12 sm:w-[167px] w-[160px] !border-none"
        (click)="scrollToBottom()"
      >
        <mat-icon class="mr-2">call</mat-icon>
        <span> Contact Us </span>
      </button>
      <button
        mat-stroked-button
        color="primary"
        class="font-urbanist flex font-bold lg:text-base md:text-sm !text-[#fff] bg-[#03A2B5] !rounded-md px-6 py-3 h-12 sm:w-[203px] w-[160px] !border-none"
        (click)="bookMeeting()"
      >
        <div class="flex gap-2 items-center justify-center">
          <img src="../../../assets/extras/calendar-days.svg" alt="" />
          <span> Book a Meeting </span>
        </div>
        <!-- <mat-icon class="mr-2">date_range</mat-icon> -->
      </button>
    </div>
    <div class="mt-6">
      <img src="../../../assets/images/hero_img.png" alt="" class="m-auto" />
    </div>
  </main>
</section>

<!-- <marquee> this text</marquee> -->

<section class="mt-28 bg-[#F3FBFE]">
  <main
    class="container-custom m-auto md:w-4/5 xl:w-2/3 px-7 font-urbanist lg:py-[120px] py-20"
  >
    <div
      class="flex justify-center items-center sm:mb-[80px] mb-[40px] lg:gap-10 gap-4"
    >
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div
        class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold text-center"
      >
        Clients&nbsp;we have&nbsp;served
      </div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <!-- <marquee behavior="" direction="" [scrollAmount]="'15'"> -->
    <div class="marquee">
      <div class="flex justify-evenly items-center gap-10 marquee__group">
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="http://bayouni.com/" target="_blank">
            <img src="../../../assets/images/bayouni.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://www.globalqualityest.com/" target="_blank">
            <img src="../../../assets/images/gqt.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer max-w-[250px] min-h-[50px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://decomed.it/" target="_blank">
            <img src="../../../assets/images/Decomed_BG 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://albaderalmushriq.com/" target="_blank">
            <img src="../../../assets/images/Bader al Mashriq 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://lienteh.com/" target="_blank">
            <img src="../../../assets/images/leinteh.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://www.turklab.com.tr/" target="_blank">
            <img src="../../../assets/images/Turklab_BG 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a
            href="https://www.ortotecsa-rehabilitacionyfisioterapia.com/en/"
            target="_blank"
          >
            <img src="../../../assets/images/Ortesca 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://mtslabs-sa.com/en/home/" target="_blank">
            <img src="../../../assets/images/client-1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="www.zahrawigroup.com" target="_blank">
            <img src="../../../assets/images/client-2.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://www.diagon.com/en/home/" target="_blank">
            <img src="../../../assets/images/client-3.png" alt="" />
          </a>
        </div>
      </div>
      <div
        class="flex justify-evenly items-center gap-10 marquee__group"
        aria-hidden="true"
      >
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="http://bayouni.com/" target="_blank">
            <img src="../../../assets/images/bayouni.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://www.globalqualityest.com/" target="_blank">
            <img src="../../../assets/images/gqt.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer max-w-[250px] min-h-[50px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://decomed.it/" target="_blank">
            <img src="../../../assets/images/Decomed_BG 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://albaderalmushriq.com/" target="_blank">
            <img src="../../../assets/images/Bader al Mashriq 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://lienteh.com/" target="_blank">
            <img src="../../../assets/images/leinteh.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://www.turklab.com.tr/" target="_blank">
            <img src="../../../assets/images/Turklab_BG 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a
            href="https://www.ortotecsa-rehabilitacionyfisioterapia.com/en/"
            target="_blank"
          >
            <img src="../../../assets/images/Ortesca 1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://mtslabs-sa.com/en/home/" target="_blank">
            <img src="../../../assets/images/client-1.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="www.zahrawigroup.com" target="_blank">
            <img src="../../../assets/images/client-2.png" alt="" />
          </a>
        </div>
        <div
          class="cursor-pointer min-w-[120px] min-h-[80px] flex justify-center items-center h-auto mr-10"
        >
          <a href="https://www.diagon.com/en/home/" target="_blank">
            <img src="../../../assets/images/client-3.png" alt="" />
          </a>
        </div>
      </div>
    </div>

    <div class="flex justify-evenly items-center gap-10 mt-10 sm:mt-20">
      <!-- <img src="../../../assets/images/clients_we_Served.png" alt="" class="hidden md:block"/>
      <img src="../../../assets/images/tablet-clients.png" alt="" class="hidden sm:block md:hidden">
      <img src="../../../assets/images/mobile-clients.png" class="block sm:hidden" > -->
    </div>
    <!-- </marquee> -->
    <div
      class="flex justify-center items-center sm:mb-[80px] mb-[40px] lg:gap-10 gap-4 mt-28"
    >
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div
        class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold text-center"
      >
        Our Collaborations
      </div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div class="flex justify-evenly items-center gap-10">
      <!-- <img src="../../../assets/images/clients_we_Served.png" alt="" class="hidden md:block"/>
      <img src="../../../assets/images/tablet-clients.png" alt="" class="hidden sm:block md:hidden">
      <img src="../../../assets/images/mobile-clients.png" class="block sm:hidden" > -->

      <div class="cursor-pointer">
        <a href="https://www.veritagen.com/" target="_blank">
          <img src="../../../assets/images/Veritagen.png" alt="" />
        </a>
      </div>
      <div class="cursor-pointer">
        <a href="https://www.meqmp.com/" target="_blank">
          <img src="../../../assets/images/meridian.png" alt="" />
        </a>
      </div>
    </div>
  </main>
</section>

<section>
  <main
    class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 font-urbanist lg:py-[120px] py-20"
  >
    <div
      class="flex justify-center lg:gap-10 gap-6 items-center sm:mb-[80px] mb-[40px]"
    >
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">
        Our&nbsp;Experience
      </div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div
      class="flex lg:flex-row sm:flex-col flex-col justify-between items-center gap-3 lg:gap-8 text-justify"
    >
      <div class="max-w-[600px] h-max-[410px] sm:mb-[60px] mb-[40px] lg:mb-0">
        <img
          src="../../../assets/images/our_experience.png"
          alt=""
          class="hidden sm:block"
        />
        <img
          src="../../../assets/images//enterprise_mobile.png"
          alt=""
          class="block sm:hidden w-full"
        />
      </div>
      <div
        class="xl:w-[45%] lg:w-[55%] text-black-404 lg:text-2xl sm:text-lg font-medium"
      >
        <ul class="list-disc">
          <li class="lg:mb-12 mb-6 sm:mb-6">
            After 28 years (15 years in Manufacturing of IVD + 13 Years in the
            Saudi FDA registration) in the In Vitro Diagnostics & Medical
            Devices field, we decided to alter direction.
          </li>
          <li>
            Now, we are sharing our experience to help others. Our ramp-up
            process is designed to empower your Saudi FDA regulatory and
            compliance team and provide them with the tools they need to
            succeed.
          </li>
        </ul>
      </div>
    </div>
  </main>
</section>

<section
  class="relative"
  style="background: linear-gradient(180deg, #f3fbfe 0%, #ffffff 100%)"
>
  <main
    class="container-custom m-auto font-urbanist lg:py-[120px] py-20 lg:px-[60px] sm:px-[40px] px-7 relative"
  >
    <div class="flex justify-center gap-10 items-center sm:mb-[80px] mb-[40px]">
      <div class="w-[15%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">
        Our&nbsp;Services
      </div>
      <div class="w-[15%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div>
      <mat-accordion class="accordion">
        <mat-expansion-panel
          class="panel sm:py-[38px] py-6 sm:px-[12px] px-0 border-b border-[#E0E0E0] last:border-0"
          *ngFor="let item of accordionData"
        >
          <mat-expansion-panel-header class="!h-auto">
            <!-- <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Type your name and age
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description> -->
            <div
              class="flex lg:flex-row flex-col font-urbanist lg:items-center items-start lg:gap-5 gap-3 lg:text-2xl sm:text-xl text-lg"
            >
              <div
                class="text-primary bg-[#E6F7FC] h-10 w-10 grid place-content-center rounded-full"
              >
                {{ item?.num }}
              </div>
              <div class="font-semibold">
                {{ item?.title }}
              </div>
            </div>
          </mat-expansion-panel-header>
          <div
            class="font-urbanist lg:text-xl text-lg leading-6 text-justify text-black-404 lg:ml-[60px] mt-6 lg:mt-5"
          >
            <div class="" [innerHTML]="item?.desc">
              <!-- <p class="pb-6">
                The establishment or manufacturer or Authorized Representative who
                wish to deal and place the IVDs & amp; MDs in the Kingdom of Saudi
                Arabia market must have this account.
              </p>
              <p>For more information, visit - <span class="text-[#2D6BD9]"> https://ghad.sfda.gov.sa/en </span></p> -->
            </div>
            <div>
              <span [innerHTML]="item?.linkText" class=""></span>
              <div class="pb-6">
                <a
                  [href]="item?.a?.trim()"
                  target="_blank"
                  class="underline text-[#2D6BD9]"
                  >{{ item?.a }}</a
                >
              </div>
              <div *ngIf="item?.link2">Sample 1</div>
              <span
                class="text-[#2D6BD9] cursor-pointer"
                (click)="openDialog(item?.num)"
                >{{ item?.link }}</span
              >
              <div *ngIf="item?.link2" class="pt-6">Sample 2</div>
              <span
                class="text-[#2D6BD9] cursor-pointer"
                *ngIf="item?.link2"
                (click)="openDialog2(item?.num)"
                >{{ item?.link }}</span
              >

              <!-- <a href="https://ghad.sfda.gov.sa/en ">https://ghad.sfda.gov.sa/en </a>
               -->
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <img
      src="../../../assets/extras/vertical-box.svg"
      class="absolute -bottom-10 right-[48%] hidden sm:block"
      alt=""
    />
    <img
      src="../../../assets/extras/vertical-mobile-bubble.svg"
      class="absolute -bottom-10 right-[42%] h-20 w-24 block sm:hidden"
      alt=""
    />
  </main>
</section>

<section>
  <main
    class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 font-urbanist lg:py-[120px] py-20 relative"
  >
    <div class="flex justify-center gap-10 items-center sm:mb-[80px] mb-[40px]">
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">
        Our&nbsp;Approach
      </div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div
      class="flex lg:flex-row sm:flex-col-reverse flex-col-reverse justify-between items-center gap-3 lg:gap-8"
    >
      <div
        class="xl:w-[45%] lg:w-[55%] text-black-404 lg:text-2xl sm:text-lg font-medium"
      >
        <ul class="list-decimal text-justify">
          <li class="lg:mb-12 mb-6 sm:mb-6">
            Our service includes a comprehensive consult to help identify gaps
            and opportunities
          </li>
          <li class="lg:mb-12 mb-6 sm:mb-6">
            A comprehensive report that includes a project plan with timelines
            and milestones, a cost analysis, and a schedule
          </li>
          <li>
            We also offer a suite of quality services that will help you get
            there quickly and smoothly.
          </li>
        </ul>
      </div>
      <div class="max-w-[600px] h-max-[410px] sm:mb-14 mb-[40px] lg:mb-0">
        <img
          src="../../../assets/images/our-approach.png"
          alt=""
          class="hidden sm:block"
        />
        <img
          src="../../../assets/images/approach_mobile.png"
          alt=""
          class="block sm:hidden w-full"
        />
      </div>
    </div>
    <img
      src="../../../assets/extras/tablet-box.svg"
      class="absolute -bottom-10 right-[48%] hidden sm:block"
      alt=""
    />
    <img
      src="../../../assets/extras/horizontal-mobile-bubble.svg"
      class="absolute -bottom-10 right-[42%] h-20 w-24 block sm:hidden"
      alt=""
    />
  </main>
</section>

<section
  class="background: linear-gradient(360deg, #f3fbfe 0%, #ffffff 100%)"
  style="
    background: linear-gradient(
      360deg,
      #f3fbfe 0%,
      rgba(243, 251, 254, 0) 100%
    );
  "
>
  <main
    class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 font-urbanist lg:py-[120px] py-20"
  >
    <div class="flex justify-center gap-10 items-center sm:mb-[80px] mb-[40px]">
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">
        Testimonials
      </div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div>
      <p-carousel
        [value]="testimonials"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="false"
        [showIndicators]="true"
        [autoplayInterval]="5000"
      >
        <ng-template let-product pTemplate="item">
          <div [innerHTML]="product?.data"></div>
          <div class="car-buttons p-mt-5">
            <p-button
              type="button"
              styleClass="p-button p-button-rounded p-mr-2"
              icon="pi pi-search"
            ></p-button>
            <p-button
              type="button"
              styleClass="p-button-success p-button-rounded p-mr-2"
              icon="pi pi-star"
            ></p-button>
            <p-button
              type="button"
              styleClass="p-button-help p-button-rounded"
              icon="pi pi-cog"
            ></p-button>
          </div>
        </ng-template>
      </p-carousel>
      <!-- <div class="flex-col justify-between items-center gap-3 lg:gap-8"> 
        <img src="../../../assets/images/“.png" class="mb-9" alt="" />
        <div class="flex lg:flex-row flex-col  justify-between items-center gap-3">
          <div class="xl:w-[45%] lg:w-[55%] text-black-404 text-2xl font-medium">
            <ul>
              <li class="mb-7 text-[22px] text-black-404 lg:text-2xl font-bold">
                Experienced & Reliable Team Player
              </li>
              <div class="text-lg text-justify">
                <li class="mb-4">
                  Shaker S. Mohammad is one of the outstanding members of
                  Abdulla Fouad Medical Supplies and Service Co. Saudi Arabia
                  team.
                </li>
                <li class="mb-4">
                  He is very experienced in the registration processes of In
                  Vitro Diagnostic Devices & Medical Devices with Saudi FDA.
                </li>
                <li class="mb-4">
                  He worked with me from 2009 to 2022 as SFDA & Compliance
                  Manager, during this period he trained, lead the regulatory
                  team, established the department, and achieve successful
                  registrations of world's best 75 IVDD & Medical Device
                  suppliers and their 2,500 products with Saudi FDA.
                </li>
                <li class="mb-7">
                  I can surely vouch for his credibility in this field, I hope
                  he thrives in his new endeavour.
                </li>
              </div>
              <li class="mb-2 text-[#170F49] text-lg font-semibold">
                Mr. Hussein Fares
              </li>
              <li class="text-[#6F6C90] text-lg">
                CEO at Abdulla Fouad Group
              </li>
            </ul>
          </div>
          <div class="max-w-[570px] h-max-[410px]">
            <img src="../../../assets/images/testimonials.png" alt="" class="hidden sm:block" />
            <img src="../../../assets/images/testimonials_mobile.png" alt="" srcset="" class="block sm:hidden w-full" />
          </div>
        </div>
      </div> -->
    </div>
  </main>
</section>

<section>
  <main
    class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 font-urbanist lg:py-[120px] py-20"
  >
    <div class="flex justify-center gap-10 items-center sm:mb-[80px] mb-[40px]">
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">
        Why&nbsp;Us?
      </div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div
      class="flex lg:flex-row flex-col justify-between items-center gap-3 lg:gap-8"
    >
      <div
        class="max-w-[600px] h-max-[410px] sm:mb-14 mb-[40px] lg:mb-0 w-full sm:grid place-content-center"
      >
        <img
          src="../../../assets/images/why-us.png"
          alt=""
          class="hidden sm:block"
        />
        <img
          src="../../../assets/images/why_us_mobile.png"
          class="block sm:hidden w-full"
        />
      </div>
      <div
        class="xl:w-[45%] lg:w-[55%] text-black-404 lg:text-2xl text-lg font-medium"
      >
        <ul>
          <li class="lg:mb-8 mb-3">
            Business mentors are key—that’s why when it comes to client
            selection, we’re choosy. We want to give each of you the time and
            guidance they deserve.
          </li>
          <li class="lg:mb-8 mb-3">
            We didn’t get there alone, and neither will you !
          </li>
          <li>Call us today.</li>
        </ul>
        <div class="flex justify-center lg:justify-start gap-4 m-auto pt-7">
          <button
            mat-stroked-button
            color="primary"
            class="font-urbanist font-bold lg:text-base md:text-sm !text-primary !rounded-md light-blue-bg px-6 py-3 h-12 sm:w-[167px] w-[160px] !border-none"
            (click)="scrollToBottom()"
          >
            <mat-icon class="mr-2">call</mat-icon>
            <span> Contact Us </span>
          </button>
          <button
            mat-stroked-button
            color="primary"
            class="font-urbanist font-bold lg:text-base md:text-sm !text-[#fff] bg-[#03A2B5] !rounded-md px-6 py-3 h-12 sm:w-[203px] w-[160px] !border-none"
            (click)="bookMeeting()"
          >
            <div class="flex gap-2 items-center justify-center">
              <img src="../../../assets/extras/calendar-days.svg" alt="" />
              <span> Book a Meeting </span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </main>
</section>
