<footer class="container-custom mt-20 urbanist m-auto">
  <div class="container-custom footer-container">
    <div class="footer-absolute flex justify-between items-center">
      <div
        *ngIf="contents[currentRoute]?.banner?.content; else default"
        class="text"
      >
        <ng-container
          *ngFor="let content of contents[currentRoute].banner.content"
        >
          {{ content }}
          <br />
        </ng-container>

        <!-- {{ contents[currentRoute].banner.content }} -->
      </div>
      <ng-template #default>
        <div class="text">
          Interested to know more? <br />
          Book a meeting with us now!
        </div>
      </ng-template>

      <button
        *ngIf="contents[currentRoute]?.banner?.cta?.content"
        class="button"
        mat-stroked-button
        color="primary"
        (click)="bookMeeting(contents[currentRoute].banner.cta.content)"
      >
        <span class="gradient-text">
          {{ contents[currentRoute].banner.cta.content }}
        </span>
        <img src="../../../assets/footer/topRightArrow.svg" alt="Arrow "
        width="16"
        height="16"
        loading="lazy"
        />
      </button>

      <!-- <button
        *ngIf="!contents[currentRoute]"
        class="button flex"
        mat-stroked-button
        color="primary"
        (click)="bookMeeting('')"
      >
        <span class="gradient-text text-primary"> Book a meeting </span>
        <span>

          <img src="../../../assets/footer/topRightArrow.svg" alt="Arrow "
          width="16"
          height="16"
          loading="lazy"
          />
        </span>
      </button> -->
      <button    
      mat-stroked-button
      class="primary bg-[#fff] font-urbanist text-xl font-semibold text-primary"

      >
      <div class="flex gap-3">
        <span>Book a Meeting</span>
        <img src="../../../assets/footer/topRightArrow.svg" alt="">

      </div>
      </button>
    </div>

    <div class="left-side">
      <div class="logo">
        <img
          src="../../../assets/common/default-logo.png"
          alt="Ruralink logo"
          width="149"
          height="54"
          loading="lazy"
        />
      </div>
      <div class="logo-text text-black-404">
        Experienced & Personalized Saudi FDA & IVD Consulting
      </div>
      <div class="flex items-center social-media justify-between">
        <div>
          <a href="#" target="Facebook">
            <img
              src="../../../assets/social-media/Facebook.svg"
              alt="Facebook"
            />
          </a>
        </div>
        <div>
          <a href="#" target="Twitter">
            <img
              src="../../../assets/social-media/Twitter.svg"
              alt="Twitter"
            />
          </a>
        </div>
        <div>
          <a href="#" target="Instagram">
            <img
              src="../../../assets/social-media/Instagram.svg"
              alt="Instagram"
            />
          </a>
        </div>
        <div>
          <a
            href="#"
            target="LinkedIn"
          >
            <img
              src="../../../assets/social-media/LinkedIn.svg"
              alt="LinkedIn"

            />
          </a>
        </div>
        <div>
          <a href="#" target="Youtube">
            <img
              src="../../../assets/social-media/YouTube.svg"
              alt="Youtube"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="flex tel">
        <div class="flex items-center me-2 min-w-[32px]">
          <img
            src="../../../assets/footer/tel.svg"
            alt=""
            width="33"
            height="33"
            loading="lazy"
          />
        </div>
        <div class="info flex-col">
          <span class="title text-primary"> Tel </span>
          <span class="gradient-text"> +91 8237858705 </span>
        </div>
      </div>
      <div class="flex email">
        <div class="flex items-center me-2 min-w-[32px]">
          <img
            src="../../../assets/footer/email.svg"
            alt=""
            width="33"
            height="33"
            loading="lazy"
          />
        </div>
        <div class="info flex-col">
          <span class="title text-primary">Email</span>
          <span class="gradient-text"> shakersm@galaxy-complaince.com </span>
        </div>
      </div>
      <div class="flex location">
        <div class="flex items-center me-2 min-w-[32px]">
          <img
            src="../../../assets/footer/location.svg"
            alt=""
            width="33"
            height="33"
            loading="lazy"
          />
        </div>

        <div class="info flex flex-col">
          <span class="title text-primary"> Location </span>
          <span class="gradient-text">
            Gulf Galaxy Services (OPC) Pvt Ltd5-3-73, Hindustan Colony, Bidar
            RD, Udgir 413517, Dist: Latur, MH IN .
          </span>
        </div>
      </div>
    </div>
    <div class="bottom-side flex items-center justify-between">
      <div class="flex justify-between items-center left w-50 for-mobile">
        <span class="a !text-black-525" role="button">About &nbsp;us</span>
        <span class="b !text-black-525" role="button">Contact</span>
        <span class="c !text-black-525" role="button"
          >Privacy &nbsp;policy</span
        >
        <span class="d !text-black-525" role="button"> Sitemap</span>
        <span class="e !text-black-525" role="button"
          >Terms &nbsp;of &nbsp;Use</span
        >
      </div>
      <div class="flex justify-end right">© 2000-2021, All Rights Reserved</div>
    </div>
  </div>
</footer>
