<footer class="container-custom mt-20 urbanist m-auto" id="footer">
  <div class="container-custom footer-container">
    <!-- <div class="footer-absolute flex justify-between items-center">
      <div
        *ngIf="contents[currentRoute]?.banner?.content; else default"
        class="text"
      >
        <ng-container
          *ngFor="let content of contents[currentRoute].banner.content"
        >
          {{ content }}
          <br />
        </ng-container>

      </div>
      <ng-template #default>
        <div class="text">
          Interested to know more? <br />
          Book a meeting with us now!
        </div>
      </ng-template>

      <button
        *ngIf="contents[currentRoute]?.banner?.cta?.content"
        class="button"
        mat-stroked-button
        color="primary"
        (click)="bookMeeting(contents[currentRoute].banner.cta.content)"
      >
        <span class="gradient-text">
          {{ contents[currentRoute].banner.cta.content }}
        </span>
        <img src="../../../assets/footer/topRightArrow.svg" alt="Arrow "
        width="16"
        height="16"
        loading="lazy"
        />
      </button>

      <button    
      mat-stroked-button
      class="primary bg-[#fff] font-urbanist text-xl font-semibold text-primary"

      >
      <div class="flex gap-3">
        <span>Book a Meeting</span>
        <img src="../../../assets/footer/topRightArrow.svg" alt="">

      </div>
      </button>
    </div> -->
    <div class="absolute-footer absolute  max-w-[1500px] sm:w-[94%] w-[90%]">
      <div class="relative h-[202px] w-[96%] sm:w-full">
        <img src="../../../assets/footer/footer-banner.png" class="w-[94%] h-full hidden sm:block" alt="">
        <img src="../../../assets/footer/mobile-banner.png" class="sm:hidden block w-[94%] h-full"  alt="">
      </div>
      <div class="absolute top-0 sm:w-[94%] w-[90%] h-full sm:px-16 px-5 flex sm:flex-row flex-col sm:justify-between justify-center items-center gap-5">
        <div class="font-urbanist text-[#fff] md:text-2xl xl:text-3xl font-semibold text-xl">
          Interested to know more? <br />
          Book a meeting with us now!
        </div>
        <button    
          mat-stroked-button
          class="primary bg-[#fff] font-urbanist text-xl font-semibold text-primary !py-3 !px-6 lg:!py-5 lg:!px-10 !rounded-lg"
          (click)="bookMeeting()"
          >
          <div class="flex gap-3 text-base md:text-lg xl:text-xl font-urbanist">
            <span>Book a Meeting</span>
            <img src="../../../assets/footer/topRightArrow.svg" alt="">
    
          </div>
          </button>
      </div>
    </div>
    <div class="left-side">
      <div class="logo">
        <img
          src="../../../assets/common/default-logo.png"
          alt="Ruralink logo"
          width="149"
          height="54"
          loading="lazy"
        />
      </div>
      <div class="logo-text text-black-404">
        Experienced & Personalized Saudi FDA's IVD & Medical Devices Consulting
      </div>
      <div class="flex items-center social-media justify-between">
        <div>
          <a
            href="https://www.linkedin.com/in/siddiqui-shaker-41993221"
            target="LinkedIn"
          >
            <img
              src="../../../assets/social-media/LinkedIn.svg"
              alt="LinkedIn"

            />
          </a>
        </div>
       
      </div>
    </div>
    <div class="right-side">
      <div class="flex tel">
        <div class="flex items-center me-2 min-w-[32px]">
          <img
            src="../../../assets/footer/tel.svg"
            alt=""
            width="33"
            height="33"
            loading="lazy"
          />
        </div>
        <div class="info flex-col">
          <span class="title text-primary"> Tel </span>
          <span class="gradient-text"> +91 8237858705 </span>
        </div>
      </div>
      <div class="flex email">
        <div class="flex items-center me-2 min-w-[32px]">
          <img
            src="../../../assets/footer/email.svg"
            alt=""
            width="33"
            height="33"
            loading="lazy"
          />
        </div>
        <div class="info flex-col">
          <span class="title text-primary">Email</span>
          <span class="gradient-text"> shakersm@galaxy-compliance.com </span>
        </div>
      </div>
      <div class="flex location">
        <div class="flex items-center me-2 min-w-[32px]">
          <img
            src="../../../assets/footer/location.svg"
            alt=""
            width="33"
            height="33"
            loading="lazy"
          />
        </div>

        <div class="info flex flex-col">
          <span class="title text-primary"> Location </span>
          <span class="gradient-text">
            Gulf Galaxy Compliance Services (OPC) Pvt Ltd <br> 5-3-73, Hindustan Colony, Bidar
            RD, Udgir 413517, Dist: Latur, MH IN .
          </span>
        </div>
      </div>
    </div>
    <div class="bottom-side flex items-center justify-between">
      <div class="flex justify-between items-center left w-50 for-mobile">
        <span class="a !text-black-525" role="button" [routerLink]="['/about-us']">About &nbsp;Us</span>
       
      </div>
      <div class="flex justify-end right">© 2000-2021, All Rights Reserved</div>
    </div>
  </div>
</footer>
