<section>
  <main class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 font-urbanist lg:py-[120px] pt-20">
    <div class="flex justify-center gap-10 items-center sm:mb-[80px] mb-[40px]">
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
      <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">About&nbsp;Us</div>
      <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
    </div>
    <div class="text-black-404 font-urbanist lg:text-2xl text-lg text-justify">
      <p>As a dedicated and cohesive team, we collectively contributed 15 successful years to the United Diagnostics industry in Dammam, K.S.A. Our collaborative efforts were focused on overseeing production and logistics in the manufacturing and distribution of a diverse array of Hematology, Clinical Chemistry, and Immunology In Vitro Diagnostic Devices (IVDDs).
      <p>
        Subsequently, we transitioned seamlessly to our roles at Abdulla Fouad for Medical Supplies and Services Co., Dammam, K.S.A., where we functioned as a unified force for an impressive 13 years. As the Saudi FDA & Compliance Management team, we achieved remarkable milestones and garnered a wealth of accomplishments. For over a decade, our collective leadership played a pivotal role in steering the regulatory and compliance department towards major goals.
      </p>
      <p>
        During our tenure, we effectively managed and facilitated all activities related to the registration of In Vitro Diagnostics (IVDs) and Medical Devices (MDs) with the Saudi FDA. A pivotal aspect of our success lay in our ability to cultivate a skilled and capable team of specialists. Together, we trained and developed our team to handle the registration processes for 75 international suppliers of IVDs and MDDs, encompassing a staggering 2,500 products falling under the jurisdiction of the Saudi FDA. Our collaborative efforts resulted in the achievement of 350 Medical Device Market Authorizations, showcasing the strength of our unified approach and commitment to excellence.

      </p>
    </div>
  </main>

</section>

<section>
  <main class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 pb-28 font-urbanist">
    <div class="flex font-urbanist flex-col ">
      <div class="min-w-[300px] grid place-content-center">
        <img src="../../../assets/images/about-us-img.png" alt="">
      </div>
      <div class="w-full">
        <div class="text-[#242424] lg:text-2xl text-lg font-semibold text-center mt-2">
          Mr. Shaker Siddiqui Mohammad
        </div>
        <p class="text-black-525 lg:text-2xl text-lg text-center">Director at Gulf Galaxy Compliance Services (OPC) Pvt Ltd</p>

        <div class="right-side mt-16 !w-full">
          <div class="flex tel">
            <div class="flex items-start me-2 min-w-[50px]">
              <img class="w-full" src="../../../assets/footer/tel.svg" alt="" width="33" height="33" loading="lazy" />
            </div>
            <div class="info flex-col">
              <span class="title text-primary"> Tel </span>
              <span class="gradient-text"> +91 8237858705 </span>
            </div>
          </div>
          <div class="flex email justify-end">
            <div class="flex items-start me-2 min-w-[50px]">
              <img class="w-full" src="../../../assets/footer/email.svg" alt="" width="33" height="33" loading="lazy" />
            </div>
            <div class="info flex-col">
              <span class="title text-primary">Email</span>
              <span class="gradient-text"> shakersm@galaxy-compliance.com </span>
            </div>
          </div>
          <div class="flex location mt-5 ">
            <div class="flex items-start me-2 min-w-[50px]">
              <img class="w-full" src="../../../assets/footer/location.svg" alt="" width="33" height="33"
                loading="lazy" />
            </div>

            <div class="info flex flex-col ">
              <span class="title text-primary"> Location </span>
              <span class="gradient-text">
                Gulf Galaxy Compliance Services (OPC) Pvt Ltd <br> 5-3-73, Hindustan Colony, Bidar
                RD, Udgir 413517, Dist: Latur, MH IN .
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>

<section>
  <main class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 pb-28 font-urbanist ">
    <ul class="flex list-disc mb-4 gap-3">
      <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist  w-1/2 "> <span class="cursor-pointer"
          (click)="openPdf(1)"> UDI Experience Certificate 1993-2008</span></li>
      <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist "><span class="cursor-pointer"
          (click)="openPdf(2)"> Recognition by AFMS - Man of Division</span></li>
    </ul>
    <ul class="flex list-disc mb-4 gap-3">
      <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist  w-1/2"><span class="cursor-pointer"
          (click)="openPdf(3)"> Toastmaster's Certificate </span></li>
      <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist "><span class="cursor-pointer"
          (click)="openPdf(4)"> Saudi Food and Drug Authority (SFDA Certification) </span></li>
    </ul>
    <ul class="flex list-disc gap-3">
      <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist  w-1/2"><span class="cursor-pointer"
          (click)="openPdf(5)"> Abdulla Fouad Group Service Certificate Mar 2009 - Jun 2022 </span></li>
      <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist "><span class="cursor-pointer"
          (click)="openPdf(6)"> Recognition by Thermo Fischer Group </span></li>
    </ul>
  </main>
</section>