<section>
    <main class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 font-urbanist lg:py-[120px] pt-20">
        <div class="flex justify-center gap-10 items-center sm:mb-[80px] mb-[40px]">
            <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
            <div class="text-primary lg:text-4xl lg:font-bold text-2xl font-semibold">About&nbsp;Us</div>
            <div class="w-[25%] bg-primary h-[2px] max-w-[220px] min-w-[65px]"></div>
        </div>
        <div class="text-black-404 font-urbanist lg:text-2xl text-lg text-justify">
            <p>Served United Diagnostics industry, Dammam, K.S.A., for successful 15 years as Production & Logistics
                controller in manufacturing and distribution of wide range of Hematology, Clinical Chemistry &
                Immunology IVDDs.
            <p>
                And Served as Saudi FDA & Compliance Manager for 13 fabulous years, full of achievements at Abdulla
                Fouad for Medical Supplies and Services Co., Dammam, K.S.A. where got glorious opportunity, played the
                leading role for 13 years in achieving major goals in regulatory & compliance department and handled all
                the activities related to registration of IVDs & MDs with Saudi FDA.

            </p>
            <p>
                Trained and developed the team of specialists to handle the registration of 75 international suppliers
                of IVDs, MDDs and their 2,500 products falls under Saudi FDA jurisdiction and to achieve 350 Medical
                Device Market Authorizations.

            </p>
        </div>
    </main>

</section>

<section>
    <main class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 pb-28 font-urbanist">
        <div class="flex font-urbanist flex-col ">
            <div class="min-w-[400px] grid place-content-center">
                <img src="../../../assets/images/about-us-img.png" alt="">
            </div>
            <div class="w-full">
                <div class="text-[#242424] lg:text-2xl text-lg font-semibold text-center mt-2">
                    Mr. Shaker Ahmed Siddiqui
                </div>
                <p class="text-black-525 lg:text-2xl text-lg text-center">CEO at Gulf Galaxy Services (OPC) Pvt Ltd</p>

                <div class="right-side mt-16 !w-full">
                    <div class="flex tel">
                      <div class="flex items-start me-2 min-w-[50px]">
                        <img
                        class="w-full"
                          src="../../../assets/footer/tel.svg"
                          alt=""
                          width="33"
                          height="33"
                          loading="lazy"
                        />
                      </div>
                      <div class="info flex-col">
                        <span class="title text-primary"> Tel </span>
                        <span class="gradient-text"> +91 8237858705 </span>
                      </div>
                    </div>
                    <div class="flex email justify-end">
                      <div class="flex items-start me-2 min-w-[50px]">
                        <img
                        class="w-full"
                          src="../../../assets/footer/email.svg"
                          alt=""
                          width="33"
                          height="33"
                          loading="lazy"
                        />
                      </div>
                      <div class="info flex-col">
                        <span class="title text-primary">Email</span>
                        <span class="gradient-text"> shakersm@galaxy-complaince.com </span>
                      </div>
                    </div>
                    <div class="flex location mt-5 ">
                      <div class="flex items-start me-2 min-w-[50px]">
                        <img
                        class="w-full"
                          src="../../../assets/footer/location.svg"
                          alt=""
                          width="33"
                          height="33"
                          loading="lazy"
                        />
                      </div>
              
                      <div class="info flex flex-col ">
                        <span class="title text-primary"> Location </span>
                        <span class="gradient-text">
                          Gulf Galaxy Services (OPC) Pvt Ltd5-3-73, Hindustan Colony, Bidar
                          RD, Udgir 413517, Dist: Latur, MH IN .
                        </span>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </main>
</section>

<section>
    <main class="container-custom m-auto lg:px-[60px] sm:px-[40px] px-7 pb-28 font-urbanist ">
        <ul class="flex list-disc mb-4 gap-3">
            <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist  w-1/2 " > <span class="cursor-pointer" (click)="openPdf(1)"> UDI Experience Certificate 1993-2008</span></li>
            <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist "><span class="cursor-pointer" (click)="openPdf(2)"> Recognition by AFMS - Man of Division</span></li>
            </ul>
        <ul class="flex list-disc mb-4 gap-3">
            <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist  w-1/2"><span class="cursor-pointer" (click)="openPdf(3)"> AFMS Service Certificate 2009-2022 </span></li>
            <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist "><span class="cursor-pointer" (click)="openPdf(4)"> Saudi Food and Drug Authority (SFDA Certification) </span></li>
        </ul>
        <ul class="flex list-disc gap-3">
            <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist  w-1/2"><span class="cursor-pointer" (click)="openPdf(5)"> Abdulla Fouad Group Service Certificate Mar 2022 - Jun 2022 </span></li>
            <li class="text-[#2D6BD9] lg:text-xl text-lg underline font-urbanist "><span class="cursor-pointer" (click)="openPdf(6)"> Recognition by Thermo Fischer Group </span></li>
        </ul>
    </main>
</section>